USE [IOTEMIDO]
GO
/****** Object:  Table [dbo].[DivisionPolitica]    Script Date: 26/05/2020 20:58:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DivisionPolitica](
	[Id] [varchar](30) NOT NULL,
	[Nombre] [nvarchar](500) NULL,
	[Tipo] [varchar](10) NULL,
 CONSTRAINT [PK_DivisionPolitica] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresa]    Script Date: 26/05/2020 20:58:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresa](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Id_Identificacion] [varchar](30) NULL,
	[Id_Departamento] [varchar](30) NOT NULL,
	[Id_Ciudad] [varchar](30) NOT NULL,
	[Identificacion] [varchar](50) NOT NULL,
	[Id_Naturaleza] [varchar](30) NULL,
	[RazonSocial] [varchar](100) NOT NULL,
	[Nombres] [varchar](200) NULL,
	[Apellidos] [varchar](200) NULL,
	[Direccion] [varchar](80) NOT NULL,
	[Telefono] [varchar](50) NOT NULL,
	[Contacto] [varchar](100) NOT NULL,
	[Cargo] [varchar](100) NULL,
	[Observacion] [varchar](500) NULL,
	[Estado] [varchar](30) NOT NULL,
 CONSTRAINT [PK_Empresa] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Identificacion]    Script Date: 26/05/2020 20:58:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Identificacion](
	[Id] [varchar](30) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Identificacion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permiso]    Script Date: 26/05/2020 20:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso](
	[Id_FormularioProceso] [bigint] NOT NULL,
	[Id_Persona] [bigint] NOT NULL,
	[FechaVencimiento] [datetime] NULL,
 CONSTRAINT [PK_Permiso] PRIMARY KEY CLUSTERED 
(
	[Id_FormularioProceso] ASC,
	[Id_Persona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 26/05/2020 20:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CdtGas] [bit] NULL,
	[Nombre] [varchar](30) NOT NULL,
	[Apellido] [varchar](30) NOT NULL,
	[Id_Identificacion] [varchar](30) NOT NULL,
	[Identificacion] [varchar](30) NOT NULL,
	[Id_Empresa] [bigint] NULL,
	[Direccion] [varchar](50) NOT NULL,
	[Telefono] [varchar](50) NOT NULL,
	[email] [varchar](50) NULL,
	[Foto] [image] NULL,
	[Cargo] [varchar](100) NULL,
	[Usuario] [varchar](50) NULL,
	[Clave] [varchar](512) NULL,
	[ClaveTemp] [varchar](512) NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Persona] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[DivisionPolitica] ([Id], [Nombre], [Tipo]) VALUES (N'013', N'AFGANISTAN', N'PA')
INSERT [dbo].[DivisionPolitica] ([Id], [Nombre], [Tipo]) VALUES (N'017', N'ALBANIA', N'PA')
INSERT [dbo].[DivisionPolitica] ([Id], [Nombre], [Tipo]) VALUES (N'023', N'ALEMANIA', N'PA')
GO
SET IDENTITY_INSERT [dbo].[Empresa] ON 

INSERT [dbo].[Empresa] ([Id], [Id_Identificacion], [Id_Departamento], [Id_Ciudad], [Identificacion], [Id_Naturaleza], [RazonSocial], [Nombres], [Apellidos], [Direccion], [Telefono], [Contacto], [Cargo], [Observacion], [Estado]) VALUES (1, N'IDENTIFICACION.NIT', N'16991', N'16991263', N'804009247', N'NATURALEZA.PJ', N'CDT DE GAS ', N' ', N' ', N'Provenza', N'6543800', N'Leidy', N'Servicio al Cliente', N'OBSERVA', N'ESTADOREGISTRO.1')
INSERT [dbo].[Empresa] ([Id], [Id_Identificacion], [Id_Departamento], [Id_Ciudad], [Identificacion], [Id_Naturaleza], [RazonSocial], [Nombres], [Apellidos], [Direccion], [Telefono], [Contacto], [Cargo], [Observacion], [Estado]) VALUES (4, N'IDENTIFICACION.NIT', N'16911', N'16911001', N'860524291', N'NATURALEZA.PJ', N'TEXICAN OIL Y GAS S.A.', NULL, NULL, N'Carrera 17 120 05 Of 302', N'(1)  6209311
', N'PENDIENTE', N'PENDIENTE', N'', N'ESTADOREGISTRO.1')
INSERT [dbo].[Empresa] ([Id], [Id_Identificacion], [Id_Departamento], [Id_Ciudad], [Identificacion], [Id_Naturaleza], [RazonSocial], [Nombres], [Apellidos], [Direccion], [Telefono], [Contacto], [Cargo], [Observacion], [Estado]) VALUES (7, N'IDENTIFICACION.CC', N'16915', N'16915087', N'8600299951', N'NATURALEZA.PN', N'Planta Industrial, Belencito-Boyaca', NULL, NULL, N'Planta Industrial, Belencito-Boyaca', N' 57(8) 7730200 ', N' Pablo Martín Bernal López', N' Coordinador Utilidades', N'', N'ESTADOREGISTRO.1')
SET IDENTITY_INSERT [dbo].[Empresa] OFF
INSERT [dbo].[Identificacion] ([Id], [Nombre], [Estado]) VALUES (N'1', N'Nit', 1)
INSERT [dbo].[Identificacion] ([Id], [Nombre], [Estado]) VALUES (N'11', N'Documento de Identificación Extranjero', 1)
INSERT [dbo].[Identificacion] ([Id], [Nombre], [Estado]) VALUES (N'13', N'Pasaporte', 1)
INSERT [dbo].[Permiso] ([Id_FormularioProceso], [Id_Persona], [FechaVencimiento]) VALUES (6, 1, NULL)
INSERT [dbo].[Permiso] ([Id_FormularioProceso], [Id_Persona], [FechaVencimiento]) VALUES (6, 143, NULL)
INSERT [dbo].[Permiso] ([Id_FormularioProceso], [Id_Persona], [FechaVencimiento]) VALUES (7, 1, NULL)
SET IDENTITY_INSERT [dbo].[Persona] ON 

INSERT [dbo].[Persona] ([Id], [CdtGas], [Nombre], [Apellido], [Id_Identificacion], [Identificacion], [Id_Empresa], [Direccion], [Telefono], [email], [Foto], [Cargo], [Usuario], [Clave], [ClaveTemp], [Estado]) VALUES (1, NULL, N'admin', N' ', N'2', N'91294629', 1, N'Guatiguará', N'6543800', N'administrador@cdtdegas.com', NULL, N'Profesional de Proyectos', N'admin', N'EDF238D1D3DC694FCD42CCE028A0AB68', NULL, 1)
INSERT [dbo].[Persona] ([Id], [CdtGas], [Nombre], [Apellido], [Id_Identificacion], [Identificacion], [Id_Empresa], [Direccion], [Telefono], [email], [Foto], [Cargo], [Usuario], [Clave], [ClaveTemp], [Estado]) VALUES (143, NULL, N'invitado', N' ', N'2', N'123456', 1, N'carrera 8 ', N'6051947', N'osalah@cdtdegas.com', NULL, N'DESARROLLADOS EXPERTO', N'INVITADO', N'E10ADC3949BA59ABBE56E057F20F883E', NULL, 1)
SET IDENTITY_INSERT [dbo].[Persona] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [unique_usuario]    Script Date: 26/05/2020 20:58:07 ******/
ALTER TABLE [dbo].[Persona] ADD  CONSTRAINT [unique_usuario] UNIQUE NONCLUSTERED 
(
	[Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Empresa] ADD  CONSTRAINT [DF_Empresa_Estado]  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Persona] ADD  CONSTRAINT [DF_Persona_Estado]  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Empresa]  WITH CHECK ADD  CONSTRAINT [FK_Empresa_Ciudad] FOREIGN KEY([Id_Ciudad])
REFERENCES [dbo].[DivisionPolitica] ([Id])
GO
ALTER TABLE [dbo].[Empresa] CHECK CONSTRAINT [FK_Empresa_Ciudad]
GO
ALTER TABLE [dbo].[Empresa]  WITH CHECK ADD  CONSTRAINT [FK_Empresa_Departamento] FOREIGN KEY([Id_Departamento])
REFERENCES [dbo].[DivisionPolitica] ([Id])
GO
ALTER TABLE [dbo].[Empresa] CHECK CONSTRAINT [FK_Empresa_Departamento]
GO
ALTER TABLE [dbo].[Permiso]  WITH CHECK ADD  CONSTRAINT [FK_Permiso_FormularioProceso] FOREIGN KEY([Id_FormularioProceso])
REFERENCES [dbo].[FormularioProceso] ([Id])
GO
ALTER TABLE [dbo].[Permiso] CHECK CONSTRAINT [FK_Permiso_FormularioProceso]
GO
ALTER TABLE [dbo].[Permiso]  WITH CHECK ADD  CONSTRAINT [FK_Permiso_Persona] FOREIGN KEY([Id_Persona])
REFERENCES [dbo].[Persona] ([Id])
GO
ALTER TABLE [dbo].[Permiso] CHECK CONSTRAINT [FK_Permiso_Persona]
GO
ALTER TABLE [dbo].[Persona]  WITH CHECK ADD  CONSTRAINT [FK_Persona_Empresa] FOREIGN KEY([Id_Empresa])
REFERENCES [dbo].[Empresa] ([Id])
GO
ALTER TABLE [dbo].[Persona] CHECK CONSTRAINT [FK_Persona_Empresa]
GO
ALTER TABLE [dbo].[Persona]  WITH CHECK ADD  CONSTRAINT [FK_Persona_Identificacion] FOREIGN KEY([Id_Identificacion])
REFERENCES [dbo].[Identificacion] ([Id])
GO
ALTER TABLE [dbo].[Persona] CHECK CONSTRAINT [FK_Persona_Identificacion]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador único de la tabla autonumérico' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Empresa', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Empresa', @level2type=N'COLUMN',@level2name=N'Id_Identificacion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Llave Foránea que me indica la ciudad donde se encuentra la Empresa' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Empresa', @level2type=N'COLUMN',@level2name=N'Id_Ciudad'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nombre de la Empresa no exceder de 100 caracteres' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Empresa', @level2type=N'COLUMN',@level2name=N'RazonSocial'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Dirección Física donde se encuentra la Empresa no exceder de 50 caracteres' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Empresa', @level2type=N'COLUMN',@level2name=N'Direccion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Número Telefónico de la Empresa no exceder de 15 caracteres' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Empresa', @level2type=N'COLUMN',@level2name=N'Telefono'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nombre del representante de la Empresa no exceder de 50 caracteres' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Empresa', @level2type=N'COLUMN',@level2name=N'Contacto'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nombre del Cargo del Representante de la Empresa, no exceder de 50 caracteres' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Empresa', @level2type=N'COLUMN',@level2name=N'Cargo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Campo Opcional donde se explica alguna observación acerca de la Empresa no exceder de 50 caracteres' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Empresa', @level2type=N'COLUMN',@level2name=N'Observacion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Me indica si el registro de la Empresa está habilitado o deshabilitado para realizar transacciones Ejemplo (1=Habilitado, 0=Deshabilitado)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Empresa', @level2type=N'COLUMN',@level2name=N'Estado'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador único Autonumérico' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Identificacion', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Descripción de la Identificación Ejemplo (cédula,nit, pasaporte) etc ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Identificacion', @level2type=N'COLUMN',@level2name=N'Nombre'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Llave foránea que relaciona la Tabla Formulario' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Permiso', @level2type=N'COLUMN',@level2name=N'Id_FormularioProceso'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Llave foránea que relaciona la Tabla Persona' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Permiso', @level2type=N'COLUMN',@level2name=N'Id_Persona'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha que vence el permiso, Ejemplo (limite de fecha para ciertos usuarios que  desean descargar o cargar  archivos) la ventaja es que el permiso se bloquea automaticamente sin necesidad de que el Administrador lo realice' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Permiso', @level2type=N'COLUMN',@level2name=N'FechaVencimiento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador único autonumérico' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Persona', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nombre de la Persona no execeder de 15 caracteres' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Persona', @level2type=N'COLUMN',@level2name=N'Nombre'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Apellido(s) de la Persona no execeder de 15 caracteres' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Persona', @level2type=N'COLUMN',@level2name=N'Apellido'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Llave Foránea que relaciona la Tabla Identificación' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Persona', @level2type=N'COLUMN',@level2name=N'Id_Identificacion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indica el número de identificación segun el Id_Identificacion, máximo 20 caracteres' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Persona', @level2type=N'COLUMN',@level2name=N'Identificacion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Llave Foránea que realciona la Tabla Empresa' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Persona', @level2type=N'COLUMN',@level2name=N'Id_Empresa'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Almacena la dirección de la Persona máximo 30 caracteres' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Persona', @level2type=N'COLUMN',@level2name=N'Direccion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Almacena el númerode teléfono de la Persona, máximo 15 caracteres' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Persona', @level2type=N'COLUMN',@level2name=N'Telefono'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Campo opcional que almacena la foto de la Persona ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Persona', @level2type=N'COLUMN',@level2name=N'Foto'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Almacena el nombre del Cargo que ocupa en la Empresa' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Persona', @level2type=N'COLUMN',@level2name=N'Cargo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Almacena el nombre del Usuario con el cual se va identificar en el Aplñicativo, máximo 20 caracteres' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Persona', @level2type=N'COLUMN',@level2name=N'Usuario'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Almacena la clave de Ingreso al aplicativo encriptada con MD5' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Persona', @level2type=N'COLUMN',@level2name=N'Clave'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Se crea cuando el usuario a olvidado la clave ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Persona', @level2type=N'COLUMN',@level2name=N'ClaveTemp'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indica si el registro está habilitado para realizar transacciones en la base' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Persona', @level2type=N'COLUMN',@level2name=N'Estado'
GO
